:root {
  --background: #f4f5f7;
  --foreground: #171717;
  --font-noto-sans-kr: "Noto Sans KR", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f5f7;
    --foreground: #171717;
  }
}

// 일반 글씨체
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 구부렁 글씨체 */
@font-face {
  font-family: "BMKkubulimTTF";
  src:
    url("/fonts/BMKkubulimTTF.woff2") format("woff2"),
    url("/fonts/BMKkubulimTTF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 동글 글씨체 */
@font-face {
  font-family: "Jua";
  src:
    url("/fonts/Jua-Regular.woff2") format("woff2"),
    url("/fonts/Jua-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// 공지용
@font-face {
  font-family: "SeoulAlrimTTF";
  src:
    url("/fonts/SeoulAlrimTTF-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FingerPaint";
  src:
    url("/fonts/FingerPaint-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100vw;
  max-width: 600px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: Pretendard, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: env(safe-area-inset-bottom);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  text-decoration: none;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 0.5vw #eb9632, 0 0 1.5vw #eb9632, 0 0 3vw #eb9632,
      0 0 3vw #eb9632, 0 0 0.2vw #513fa1, 0.3vw 0.3vw 0.1vw #513fa1;
    color: #513fa1;
  }
}
